
.logo{
    font-family: "Bungee", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin-left: 50px;
    position: relative;
    display: inline-block;
}

.logo::after {
    content: "";
    position: absolute;
    bottom: -2px;
    right: 0;
    width: 0;
    height: 4px;
    border-radius: 5px;
    background-color: #139ff8;
    transition: width 0.5s ease;
}

.logo:hover::after {
    width: 100%;
}

.accent{
    color: #139ff8;
}

.header{
    height:70px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #d7d7d7;
    margin-bottom: 20px;
    box-shadow: 0 0 10px 3px #e4e4e4;
}

.header hr{
    height:50px;
    width: 4px;
    margin: 5px 25px;
    color: black;
    background-color: black;
    border-radius: 5px;
    padding: 0;
}

.link {
    color: #636363;
    text-decoration: none;
    cursor: pointer;
    font-size: 18px;
    font-family: "M PLUS Rounded 1c", sans-serif;
    font-weight: 500;
    font-style: normal;
    margin: 5px 25px;
    padding: 5px 12px;
    border-radius: 5px;
    transition: all 0.3s ease;
}

.link:hover {
    background-color: #139ff8;
    color: #ffffff;
    font-weight: 700;
}