.logo{
    font-family: var(--logo-font);
    font-weight: 400;
    font-style: normal;
    margin-left: 50px;
    position: relative;
    display: inline-block;
}

.logo::after {
    content: "";
    position: absolute;
    bottom: -2px;
    right: 0;
    width: 0;
    height: 4px;
    border-radius: 5px;
    background-color: var(--main-color);
    transition: width 0.5s ease;
}

.logo:hover::after {
    width: 100%;
}

.accent{
    color: var(--main-color);
}

.header{
    height:70px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #d7d7d7;
    margin-bottom: 20px;
    box-shadow: 0 0 10px 3px #e4e4e4;
}

.header hr{
    height:40px;
    width: 3px;
    margin: 5px 25px;
    color: black;
    background-color: black;
    border-radius: 5px;
    padding: 0;
}

.link {
    color: var(--second-color);
    text-decoration: none;
    cursor: pointer;
    font-size: 18px;
    font-family: var(--main-font);
    font-weight: 500;
    font-style: normal;
    margin: 5px 25px;
    padding: 5px 12px;
    border-radius: 5px;
    transition: all 0.3s ease;
}

.link:hover{
    color: var(--main-color);
}

.settings{
    margin-left: auto;
    margin-right: 50px;
    display: flex;
}

.settings hr{
    height: 30px;
    width: 1px;
    margin: 5px 15px;
    color: var(--second-color);
    background-color: var(--second-color);
    border-radius: 5px;
    padding: 0;
}

.settings button{
    background-color: transparent;
    color: var(--second-color);
    font-family: var(--main-font);
    font-weight: 500;
    font-style: normal;
    cursor: pointer;
    border: none;
    padding: 5px;
    font-size: 16px;
    transition: all 0.5s ease;
}

.settings button:hover{
    color: var(--main-color);
}